<div class="card text-center">
  <div class="card-header text-center">
    <h2>{{title}}</h2>
    <h6>Created by {{user.username}} on {{format_date date_created}}</h6>
  </div>
  <div>
    <p>{{content}}</p>
  </div>
</div>
<div class="form-box">
  <form class="form">
    <div class="form-group">
      <textarea class="form-input" id="comment-content" name="comment-content" placeholder="Post a comment"></textarea>
    </div>
    <div class="form-group">
      <button type="click" class="btn btn-primary" id="commentBtn">Post</button>
    </div>
  </form>
  {{#each comments}}
  <div class="row mb-2">
    <div class="col-md-8">
  <p>
    {{content}} on {{format_date createdAt}} by {{user.username}}
  </p>
  </div>
  <div class="col-md-4">
    <button id="deleteComment" class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
  </div>
  </div>
  {{/each}}
</div>
<script src="/js/comment.js"></script>